
<section class="intro">
    <div class="intro_title">
        <div class="intro_title_p">
            <img src="/assets/intrologo.png">
            <p>내 손을 떠나있는 모든 시간을 안전하게</p>
        </div>
    </div>
    <div class="intro_menu1">
        <div class="intro_menu1_p">
          <img src="/assets/robot.svg">
          <div class="speech_bubble">
             <a href="https://pf.kakao.com/_pxeDVj" target="_blank">
              <blockquote class="oval-quotes">
                <p>카카오 플러스 친구로<br> <b>챗봇</b> 이용하기</p>
              </blockquote>
             </a>
          </div>
        </div>
    </div>
    <div class="intro_menu2">
        <div class="intro2_button">
            <div class="intro2_button_box one">
                <hr>
                <img src="/assets/introhouse.png">
                <p class="intro2_button_text">내 <b>아이</b>를 책임질<br>안전한 어린이집<br> 선택을 위한 모든 정보</p>
            </div>
            <div class="intro2_button_box two">
                <hr>
                <img src="/assets/introbus.png">
                <p class="intro2_button_text">내 <b>아이</b>의 안전한 <br>등하원을 위한<br> 승하차 알림 서비스</p>
            </div>
        </div>
    </div>
    <div class="intro_menu3">
        <div class="intro_menu3_p">
            <div class="intro_menu3_p_text">
                <a href="/kindergardens/search"><img src="/assets/route.svg"><h2>시작하기</h2></a>
            </div>
        </div>
    </div>
</section>